schema_files/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Diane Pepetone (L'Monte Information Services) -->
<xsd:schema xmlns:dtyp="http://www.lmonte.com/prop39/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://www.lmonte.com/prop39/dtyp" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.004">
	<xsd:annotation>
		<xsd:documentation>Copyright 2010, L'Monte Information Services, Inc.  This software is distributed under the terms of the GNU General Public License version 3 (the LICENSE).  This software is free software as defined by the LICENSE and may be redistributed or modified by you (the LICENSEE) under the terms and conditions specified by the LICENSE.  Disclaimer: this software is distributed without any warranty express or implied including the implied warranty of merchantability or fitness for a particular purpose.  The rights and obligations of the LICENSEE are specified in the LICENSE.  For a copy of the LICENSE, see http://www.gnu.org/licenses.</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>All versions of this document prior to version 1.0 are pre-release and should be regarded as experimental.</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="CartesianPoint">
		<xsd:annotation>
			<xsd:documentation>The cartesian triple (x, y and z) locating a three-dimensional point relative to some specified origin of coordinates.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="xCoordinate" type="dtyp:XCoordinate"/>
			<xsd:element name="yCoordinate" type="dtyp:YCoordinate"/>
			<xsd:element name="zCoordinate" type="dtyp:ZCoordinate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HolidayDate">
		<xsd:annotation>
			<xsd:documentation>A structure which holds the standardized name for a holiday, the month and day of the official observance plus the day of week key which identifies the daily schedule to be used for the holiday.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="holidayName" type="dtyp:HolidayName"/>
			<xsd:element name="monthDay" type="dtyp:MonthDay"/>
			<xsd:element name="dayOfWeek" type="dtyp:DayOfWeek"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HolidayDates">
		<xsd:annotation>
			<xsd:documentation>A container type holding the collection of HolidayDate elements pertinent to the operations of a building.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="holidayDate" type="dtyp:HolidayDate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitsBearingType">
		<xsd:annotation>
			<xsd:documentation>A structure which specifies both the IP and SI units with which values of the associated simple type may be expressed.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitsDataType" type="dtyp:UnitsDataType"/>
			<xsd:element name="unitsInchPound" type="dtyp:UnitsInchPound"/>
			<xsd:element name="unitsSystemInternational" type="dtyp:UnitsSystemInternational"/>
		</xsd:sequence>
		<xsd:attribute name="typeName" type="dtyp:TypeName" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="UnitsBearingTypes">
		<xsd:annotation>
			<xsd:documentation>A container type holding a non-empty collection of all simple types which represent numeric quantities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitsBearingType" type="dtyp:UnitsBearingType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitsComplex">
		<xsd:annotation>
			<xsd:documentation>The container for all information relating to units of denominate numbers.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitsBearingTypes" type="dtyp:UnitsBearingTypes"/>
			<xsd:element name="unitsConversions" type="dtyp:UnitsConversions"/>
		</xsd:sequence>
		<xsd:attribute name="unitsSystem" type="dtyp:UnitsSystem" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="UnitsConversion">
		<xsd:annotation>
			<xsd:documentation>A structure specifying the conversion between a specific pair of supported IP and SI units,</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitsInchPound" type="dtyp:UnitsInchPound"/>
			<xsd:element name="unitsSymbolInchPound" type="dtyp:UnitsSymbolInchPound"/>
			<xsd:element name="unitsSystemInternational" type="dtyp:UnitsSystemInternational"/>
			<xsd:element name="unitsSymbolSystemInternational" type="dtyp:UnitsSymbolSystemInternational"/>
			<xsd:element name="conversionIPToSI" type="dtyp:ConversionIPToSI"/>
			<xsd:element name="conversionSIToIP" type="dtyp:ConversionSIToIP"/>
		</xsd:sequence>
		<xsd:attribute name="unitsCategory" type="dtyp:UnitsCategory" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="UnitsConversions">
		<xsd:annotation>
			<xsd:documentation>A container type holding a non-empty collection of UnitsConversion types.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitsConversion" type="dtyp:UnitsConversion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vertex">
		<xsd:annotation>
			<xsd:documentation>The cartesian coordinates of a point which is the intersection of two edges of a polygon.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dtyp:CartesianPoint"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Vertices">
		<xsd:annotation>
			<xsd:documentation>A container type holding an ordered, non-empty collection of Vertex types.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vertex" type="dtyp:Vertex" minOccurs="3" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="itemCountText" type="dtyp:ItemCountText" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="Area">
		<xsd:annotation>
			<xsd:documentation>The surface area of any object.  Units: square_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Azimuth">
		<xsd:annotation>
			<xsd:documentation>A measure of the orientation of a planar surface.  The azimuth of any planar building surface element is measured in the plane upon which the building sits (the base plane).   It is the angle, measured clockwise, between the true North vector and the projection, on to the base plane, of the outward pointing normal to the building surface element.  The azimuth of a North-facing building surface is thus 0 degrees whereas the azimuth of any surface parallel to the base plane is undefined.  Units: degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="City">
		<xsd:annotation>
			<xsd:documentation>This is a string representing the name of a city in an address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConversionIPToSI">
		<xsd:annotation>
			<xsd:documentation>A type holding the denominate number conversion factor from the inch-pound system to the SI system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConversionSIToIP">
		<xsd:annotation>
			<xsd:documentation>A type holding the denominate number conversion factor from the SI system to the inch-pound system.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Currency">
		<xsd:annotation>
			<xsd:documentation> The national currency in terms of which a specific monetary charge is computed.  Indicated values are taken from ISO 4217.  The range of values is currently truncated for use only in the United States.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="USD">
				<xsd:annotation>
					<xsd:appinfo/>
					<xsd:documentation>US dollar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfWeek">
		<xsd:annotation>
			<xsd:documentation>A type which specifies the day or sequence of days in a calendar week.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Saturday"/>
			<xsd:enumeration value="Sunday"/>
			<xsd:enumeration value="Weekday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfYear">
		<xsd:annotation>
			<xsd:documentation>A calendar day specifier including the year, month and day of month.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal">
		<xsd:annotation>
			<xsd:documentation>Basic value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal1Place">
		<xsd:annotation>
			<xsd:documentation>Basic value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="1" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal1PlaceNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with only one decimal place.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3Places">
		<xsd:annotation>
			<xsd:documentation>Basic decimal type with three decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3PlacesNegative">
		<xsd:annotation>
			<xsd:documentation>A negative decimal type with three decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="0"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal3PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 3 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal4PlacesNonnegative">
		<xsd:annotation>
			<xsd:documentation>Nonnegative value of decimal type with 4 decimal places.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalNegative">
		<xsd:annotation>
			<xsd:documentation>Basic negative value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:maxInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalNonnegative">
		<xsd:annotation>
			<xsd:documentation>Basic nonnegative value of decimal type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Density">
		<xsd:annotation>
			<xsd:documentation>The density for a material.  Units: pound_per_cubic_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Depth">
		<xsd:annotation>
			<xsd:documentation>A type which can be used to express the absolute value of the depth of any geometric object.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DimensionlessRatio">
		<xsd:annotation>
			<xsd:documentation>The ratio between any two numeric values having identical units.  Units: none.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="DisplacementHeight">
		<xsd:annotation>
			<xsd:documentation>The distance between a point and a specified origin measured along a nominally vertical axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="DisplacementLength">
		<xsd:annotation>
			<xsd:documentation>The distance between a point and a specified origin measured along a nominally horizontal axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Duration">
		<xsd:annotation>
			<xsd:documentation>The length of a time interval in seconds.  Units: seconds.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:LongNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstant">
		<xsd:annotation>
			<xsd:documentation>The base type of all enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\d\p{Lu}]([\d\p{L}]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantLowerCaseLetter">
		<xsd:annotation>
			<xsd:documentation>The is the variation of the enumerated type constants that has no restrictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\p{Ll}]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantPermissive">
		<xsd:annotation>
			<xsd:documentation>The base type of all symbol enumerated type constants that permit dashes or underscores  between combinations of letters and numbers.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantPhrase">
		<xsd:annotation>
			<xsd:documentation>The base type of all multiple word enumerated type constants that contain spaces between the words in a phrase.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\d\p{Lu}][\d\p{L} ,\(\)-\.]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationConstantUnits">
		<xsd:annotation>
			<xsd:documentation>The base type of all enumerated type constants for units or units symbols.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="([\p{L}][\d\p{Ll}]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationDateConstant">
		<xsd:annotation>
			<xsd:documentation>The base type of all date enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationDecimalNonNegative">
		<xsd:annotation>
			<xsd:documentation>The base type of all numeric decimal non-negative enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationIntegerNonNegative">
		<xsd:annotation>
			<xsd:documentation>The base type of all numeric interger non-negative enumerated type constants.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationYesNo">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="No"/>
			<xsd:enumeration value="Yes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Height">
		<xsd:annotation>
			<xsd:documentation>The height, measured parallel to the surface, of a planar, vertical rectangular surface.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="HolidayName">
		<xsd:annotation>
			<xsd:documentation>A standardized name for a holiday which is considered in a building energy analysis.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="ChristmasDay"/>
			<xsd:enumeration value="ColumbusDay"/>
			<xsd:enumeration value="IndependanceDay"/>
			<xsd:enumeration value="MartinLutherKingsBirthday"/>
			<xsd:enumeration value="MemorialDay"/>
			<xsd:enumeration value="NewYearsDay"/>
			<xsd:enumeration value="ThanksgivingDay"/>
			<xsd:enumeration value="VeteransDay"/>
			<xsd:enumeration value="WashingtonsBirthday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer">
		<xsd:annotation>
			<xsd:documentation>Basic value of integer type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerNonnegative">
		<xsd:annotation>
			<xsd:documentation>Basic nonnegative value of integer type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="ItemCount">
		<xsd:annotation>
			<xsd:documentation>A type which records a simple count of any kind of object.  Units: none.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="ItemCountText">
		<xsd:annotation>
			<xsd:documentation>A type which records, as a special text field, a count of any type of object.  Units: none.  Note: Values of this type may be entered either as an integer or as one of the special values "AutoCalculate" or "Unassigned".  Therefore, the base type is a string.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(\d\d*)|AutoCalculate|Unassigned"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JA_TableCell">
		<xsd:annotation>
			<xsd:documentation>The table cell location is the row number followed by the column letter in a table in the Joint Appendix.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+[A-Z]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JA_TableID">
		<xsd:annotation>
			<xsd:documentation>The three part identifier #.#.# for tables in the Joint Appendix.  The first number represents the appendix number, the second an major section and the third identifies the table in that section.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+.\d+.\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Latitude">
		<xsd:annotation>
			<xsd:documentation>The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Length">
		<xsd:annotation>
			<xsd:documentation>The longer of the two dimensions of a planar, rectangular surface.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="LinearExtent">
		<xsd:annotation>
			<xsd:documentation>A type which can be used to express the absolute value of the straight-line distance between any two points in space.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Longitude">
		<xsd:annotation>
			<xsd:documentation>The angular distance of a place east or west of the meridian at Greenwich, England.  Units: deg arc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="LongNonnegative">
		<xsd:annotation>
			<xsd:documentation>Basic nonnegative value of long numeric type.  Units: see derived type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Month">
		<xsd:annotation>
			<xsd:documentation>A month of the year from the Gregorian calandar.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="January"/>
			<xsd:enumeration value="February"/>
			<xsd:enumeration value="March"/>
			<xsd:enumeration value="April"/>
			<xsd:enumeration value="May"/>
			<xsd:enumeration value="June"/>
			<xsd:enumeration value="July"/>
			<xsd:enumeration value="August"/>
			<xsd:enumeration value="September"/>
			<xsd:enumeration value="October"/>
			<xsd:enumeration value="November"/>
			<xsd:enumeration value="December"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonthDay">
		<xsd:annotation>
			<xsd:documentation>A type specifying a calendar month and day used for characterizing events which recur from year-to-year.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gMonthDay"/>
	</xsd:simpleType>
	<xsd:simpleType name="Name">
		<xsd:annotation>
			<xsd:documentation>A string-derived type representing the name of any kind of object which does not require a more specific name type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:ObjectNamePermissive"/>
	</xsd:simpleType>
	<xsd:simpleType name="NorthAxisAngle">
		<xsd:annotation>
			<xsd:documentation>The plane angle between true North and a building object axis which is nominally North-pointing.  See PlaneAngle.  Units degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectName">
		<xsd:annotation>
			<xsd:documentation>The name of any object such as a material, construction assembly or building surface.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\p{Lu}]([\d\p{L}/-]*_?)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectNamePermissive">
		<xsd:annotation>
			<xsd:documentation>A lexically permissive name for any real or logical object such as a device, material, construction assembly or a logical node in a network.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PlaneAngle">
		<xsd:annotation>
			<xsd:documentation>The angle made by some vector measured clockwise from a specified reference vector.  The angle is in the plane defined by the two vectors.  Units: degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="RoofRiseToRun">
		<xsd:annotation>
			<xsd:documentation>The roof pitch expressed as roof rise:run.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d+:\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SchemaVersion">
		<xsd:annotation>
			<xsd:documentation>The version number of the applicable XML schema.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateAbbreviation">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\p{Lu}{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StreetAddress">
		<xsd:annotation>
			<xsd:documentation>This value is a string to hold street information in an address associated with a building, organization or a person.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="String50Char">
		<xsd:annotation>
			<xsd:documentation>String values with maximum length of 50 characters.  Used in compliance document schemas to control test that has to be displayed.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SurfaceArea">
		<xsd:annotation>
			<xsd:documentation>The surface area of any partition.  Units: square_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Thickness">
		<xsd:annotation>
			<xsd:documentation>The thickness of a material.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tilt">
		<xsd:annotation>
			<xsd:documentation>The angle of inclination of a planar surface to the horizonal.  Units: degree_arc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Timestamp">
		<xsd:annotation>
			<xsd:documentation>A specific date and time associated with an event represented as the number of seconds between the event and the beginning of the year 1970.  The timestamp is specified in the time zone where the event occurs and indicates daylight savings time when in effect at the time of the event.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:LongNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="TypeName">
		<xsd:annotation>
			<xsd:documentation>The unqualified name of any XML type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NCName"/>
	</xsd:simpleType>
	<xsd:simpleType name="Units">
		<xsd:annotation>
			<xsd:documentation>The allowable units of measure for denominate quantities.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="KilowattHour">
				<xsd:annotation>
					<xsd:appinfo/>
					<xsd:documentation>A unit of energy equal to 1000 watts of power for one hour.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Therm">
				<xsd:annotation>
					<xsd:appinfo/>
					<xsd:documentation>A non-SI unit of heat energy equal to 100,000 British thermal units (BTU).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsCategory">
		<xsd:annotation>
			<xsd:documentation>The category to which the units for a denominate number belongs.  Each such unit belongs to a single category.  The same list of categories is used for all supported unit systems.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Unassigned"/>
			<xsd:enumeration value="AirInfiltrationRate"/>
			<xsd:enumeration value="Area"/>
			<xsd:enumeration value="Dimensionless"/>
			<xsd:enumeration value="Energy"/>
			<xsd:enumeration value="HeatTransferCoefficient"/>
			<xsd:enumeration value="Length"/>
			<xsd:enumeration value="Mass"/>
			<xsd:enumeration value="MassDensity"/>
			<xsd:enumeration value="PlaneAngle"/>
			<xsd:enumeration value="Population"/>
			<xsd:enumeration value="PopulationDensityArea"/>
			<xsd:enumeration value="Power"/>
			<xsd:enumeration value="PowerDensityArea"/>
			<xsd:enumeration value="PowerPerOccupant"/>
			<xsd:enumeration value="SpecificHeatCapacity"/>
			<xsd:enumeration value="TemperatureInterval"/>
			<xsd:enumeration value="ThermalConductivity"/>
			<xsd:enumeration value="ThermalResistance"/>
			<xsd:enumeration value="TimeInterval"/>
			<xsd:enumeration value="Volume"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsDataType">
		<xsd:annotation>
			<xsd:documentation> This type represents the numeric data types which can be handled by the units converter subsystem.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="Decimal"/>
			<xsd:enumeration value="Integer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsInchPound">
		<xsd:annotation>
			<xsd:documentation>The preferred units, for each UnitsBearingType, to be used in the InchPound (IP) system.  For each UnitsCategory, there are one or more preferred IP units.   For each specific UnitsBearingType, there is exactly one preferred IP unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="British_thermal_unit"/>
			<xsd:enumeration value="British_thermal_unit_inch_per_hour_square_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_hour"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_person"/>
			<xsd:enumeration value="British_thermal_unit_per_hour_square_foot_degree_Fahrenheit"/>
			<xsd:enumeration value="British_thermal_unit_per_pound_degree_Fahrenheit"/>
			<xsd:enumeration value="cubic_foot"/>
			<xsd:enumeration value="cubic_foot_per_minute_square_foot"/>
			<xsd:enumeration value="degree_arc"/>
			<xsd:enumeration value="degree_Fahrenheit"/>
			<xsd:enumeration value="foot"/>
			<xsd:enumeration value="gallon"/>
			<xsd:enumeration value="hour_square_foot_degree_Fahrenheit_per_British_thermal_unit"/>
			<xsd:enumeration value="inch"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_thousand_square_foot"/>
			<xsd:enumeration value="pound"/>
			<xsd:enumeration value="pound_per_cubic_foot"/>
			<xsd:enumeration value="square_foot"/>
			<xsd:enumeration value="watt_per_square_foot"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSymbolInchPound">
		<xsd:annotation>
			<xsd:documentation>The symbol (abbreviation) for the preferred units, for each UnitsBearingType, to be used in the InchPound (IP) system.  For each UnitsCategory, there are one or more preferred IP units.  For each specific UnitsBearingType, there is exactly one preferred IP unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="Btu"/>
			<xsd:enumeration value="Btu_inch_per_h_ft2_F"/>
			<xsd:enumeration value="Btu_per_h"/>
			<xsd:enumeration value="Btu_per_h_ft_F"/>
			<xsd:enumeration value="Btu_per_h_ft2_F"/>
			<xsd:enumeration value="Btu_per_h_person"/>
			<xsd:enumeration value="Btu_per_lb_F"/>
			<xsd:enumeration value="deg_arc"/>
			<xsd:enumeration value="ft"/>
			<xsd:enumeration value="ft2"/>
			<xsd:enumeration value="ft3"/>
			<xsd:enumeration value="ft3_per_min_ft2"/>
			<xsd:enumeration value="gal"/>
			<xsd:enumeration value="h_ft2_F_per_Btu"/>
			<xsd:enumeration value="inch"/>
			<xsd:enumeration value="lb"/>
			<xsd:enumeration value="lb_per_ft3"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_thousand_ft2"/>
			<xsd:enumeration value="W_per_ft2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSymbolSystemInternational">
		<xsd:annotation>
			<xsd:documentation>The symbol (abbreviation) for the preferred units, for each UnitsBearingType, to be used in the SystemInternational (SI) system.  For each UnitsCategory, there are one or more preferred SI units.  For each specific UnitsBearingType, there is exactly one preferred SI unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="deg_arc"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="J_per_kg_K"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="kg"/>
			<xsd:enumeration value="kg_per_m3"/>
			<xsd:enumeration value="kJ_per_kg_K"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="m2"/>
			<xsd:enumeration value="m2_K_per_W"/>
			<xsd:enumeration value="m3"/>
			<xsd:enumeration value="m3_per_s_m2"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_m2"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="W_per_m_K"/>
			<xsd:enumeration value="W_per_m2"/>
			<xsd:enumeration value="W_per_m2_K"/>
			<xsd:enumeration value="W_per_person"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSystem">
		<xsd:annotation>
			<xsd:documentation>The standardized system of weights and measures to which a given unit belongs.  A single element of this type will occur in all XML instances which contain numeric quantities.  All such numeric elements in that instance will be expressed in the indicated unit system. Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="InchPound"/>
			<xsd:enumeration value="SystemInternational"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitsSystemInternational">
		<xsd:annotation>
			<xsd:documentation>The preferred units, for each UnitsBearingType, to be used in the SystemInternational (SI) system.  For each UnitsCategory, there are one or more preferred SI units.  For each specific UnitsBearingType, there is exactly one preferred SI unit.  Units: enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantUnits">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="cubic_meter"/>
			<xsd:enumeration value="cubic_meter_per_second_square_meter"/>
			<xsd:enumeration value="degree_arc"/>
			<xsd:enumeration value="joule"/>
			<xsd:enumeration value="joule_per_kilogram_kelvin"/>
			<xsd:enumeration value="kelvin"/>
			<xsd:enumeration value="kilogram"/>
			<xsd:enumeration value="kilogram_per_cubic_meter"/>
			<xsd:enumeration value="kilojoule_per_kilogram_kelvin"/>
			<xsd:enumeration value="liter"/>
			<xsd:enumeration value="meter"/>
			<xsd:enumeration value="person"/>
			<xsd:enumeration value="person_per_square_meter"/>
			<xsd:enumeration value="square_meter"/>
			<xsd:enumeration value="square_meter_kelvin_per_watt"/>
			<xsd:enumeration value="watt"/>
			<xsd:enumeration value="watt_per_meter_kelvin"/>
			<xsd:enumeration value="watt_per_person"/>
			<xsd:enumeration value="watt_per_square_meter"/>
			<xsd:enumeration value="watt_per_square_meter_kelvin"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Volume">
		<xsd:annotation>
			<xsd:documentation>The volume of any object.  Units: cubic_foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Width">
		<xsd:annotation>
			<xsd:documentation>The shorter of the two dimensions of a planar, rectangular surface.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="XCoordinate">
		<xsd:annotation>
			<xsd:documentation>The distance, along the x-axis, between the origin of a specified cartesian coordinate system, and a point to be located with respect to that axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="YCoordinate">
		<xsd:annotation>
			<xsd:documentation>The distance, along the y-axis, between the origin of a specified cartesian coordinate system, and a point to be located with respect to that axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ZCoordinate">
		<xsd:annotation>
			<xsd:documentation>The distance, along the z-axis, between the origin of a specified cartesian coordinate system, and a point to be located with respect to that axis.  Units: foot.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Zipcode">
		<xsd:annotation>
			<xsd:documentation>A United States postal zip code.  The final four digits are optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d{5}(-\d{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:group name="DocumentationGroup">
		<xsd:annotation>
			<xsd:documentation>Experimental named model group for documentation purposes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="summary" type="xsd:string"/>
			<xsd:element name="remarks" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
