schema_files/UtilityDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (http://www.altova.com) by Justin Regnier (California Energy Commission) -->
<xsd:schema xmlns:util="http://www.lmonte.com/prop39/util" xmlns:dtyp="http://www.lmonte.com/prop39/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lmonte.com/prop39/util" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.004">
	<xsd:import namespace="http://www.lmonte.com/prop39/dtyp" schemaLocation="DataTypes.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<copyright>Copyright 2014, L'Monte Information Services, Inc. This software is distributed under the terms of the GNU General Public License version 3 (the LICENSE).
            This software is free software as defined by the LICENSE and may be redistributed or modified by you (the LICENSEE) under the terms and conditions specified by the LICENSE.
            Disclaimer: this software is distributed without any warranty express or implied including the implied warranty of merchantability or fitness for a particular purpose.
            The rights and obligations of the LICENSEE are specified in the LICENSE. For a copy of the LICENSE, see http://www.gnu.org/licenses.</copyright>
			<docDetails>This document contains declarations and definitions required for utility data collection in connection with California Proposition 39.</docDetails>
			<releaseInfo>All versions of this document prior to version 1.0 are pre-release and should be regarded as experimental.</releaseInfo>
			<schemaInfo>Schema generated by ddtools build 124.</schemaInfo>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:simpleType name="_DocumentationOnly">
		<xsd:annotation>
			<xsd:documentation>This a property that indicates a text only entry in the XML schema generated for a utility report</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccountNumber">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Utility Account Number</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: CustomerAccount - name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Acct_Id</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Account number</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AgreementIdentifier">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Customer Agreement Identifier or Number</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Customer Agreement Identifier: COMPOSITE: Role = "Customer agreement", Role ID = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Service Agreement  SA_ID</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Service Account Number</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCG">
				<dtyp:SCGTerm>Billing Account  ID</dtyp:SCGTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Account Number</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AgreementName">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Service Agreement Name</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Customer Agreement Name: COMPOSITE: Role = "Customer agreement", Name = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  CustomerAgreement - name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillingPeriodMonth">
		<xsd:annotation>
			<xsd:documentation>A number from 1 to 13 that represents the billing period month which covers between 27 and 33 days.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Billing Period</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Bill Period</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BillingPeriodNumberOfDays">
		<xsd:annotation>
			<xsd:documentation>A number from 1 to 33 that represents the number of days in the billing period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:IntegerNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillLastPeriod">
		<xsd:annotation>
			<xsd:documentation>The cost of the commodity during the billing period in the currency specified.  Units: none</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Billing Cycle Total Dollar Amount For Electricity</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Bill Last Period</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: billLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Tot_Bill_Amt</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Bill $ Amount</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Consumption Total Billed (kWh) and Consumption (Therms)</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillPeriodPartial">
		<xsd:annotation>
			<xsd:documentation>If the reported bill period is a partial bill at the beginning or end of the annual reporting period, this should be set to true.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="CaliforniaUtilityName">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>California Utility Name</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Utility Name: NOTE: BEDES string, not constrained list
</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="AlamedaMunicipalPower">Alameda Municipal Power</dtyp:displayterm>
				<dtyp:displayterm value="AnaheimPublicUtilities">Anaheim Public utilities</dtyp:displayterm>
				<dtyp:displayterm value="AzusaLightWater">Azusa Light &amp; Water</dtyp:displayterm>
				<dtyp:displayterm value="BearValleyElectric">Bear Valley Electric</dtyp:displayterm>
				<dtyp:displayterm value="BurbankWaterPower">Burbank Water &amp; Power</dtyp:displayterm>
				<dtyp:displayterm value="CityPaloAltoUtilities">City of Palo Alto Utilities</dtyp:displayterm>
				<dtyp:displayterm value="CitySusanville">City of Susanville</dtyp:displayterm>
				<dtyp:displayterm value="CityVernonGasSystem">City of Vernon Gas System</dtyp:displayterm>
				<dtyp:displayterm value="ColtonPublicUtilities">Colton Public Utilities</dtyp:displayterm>
				<dtyp:displayterm value="GlendalePublicServiceDepartment">Glendale Public Service Department</dtyp:displayterm>
				<dtyp:displayterm value="GridleyMunicipalUtilities">Gridley Municipal Utilities</dtyp:displayterm>
				<dtyp:displayterm value="HealdsburgMunicipalElectricDepartment">Healdsburg Municipal Electric Department</dtyp:displayterm>
				<dtyp:displayterm value="ImperialIrrigationDistrict">Imperial Irrigation District</dtyp:displayterm>
				<dtyp:displayterm value="LibertyEnergy">Liberty Energy</dtyp:displayterm>
				<dtyp:displayterm value="LosAngelesDepartmentWaterPower">Los Angeles Department of Water and Power</dtyp:displayterm>
				<dtyp:displayterm value="LosBeachGasOil">Los Beach Gas &amp; Oil</dtyp:displayterm>
				<dtyp:displayterm value="PacificGasElectric">Pacific Gas &amp; Electric</dtyp:displayterm>
				<dtyp:displayterm value="PacifiCorp">PacifiCorp</dtyp:displayterm>
				<dtyp:displayterm value="PasadenaWaterPower">Pasadena Water &amp; Power</dtyp:displayterm>
				<dtyp:displayterm value="RiversidePublicUtilities">Riverside Public Utilities</dtyp:displayterm>
				<dtyp:displayterm value="SacramentoMunicipalUtilityDistrict">Sacramento Municipal Utility District</dtyp:displayterm>
				<dtyp:displayterm value="SanDiegoGasElectric">San Diego Gas &amp; Electric</dtyp:displayterm>
				<dtyp:displayterm value="SiliconValleyPower">Silicon Valley Power</dtyp:displayterm>
				<dtyp:displayterm value="SouthernCaliforniaEdison">Southern California Edison</dtyp:displayterm>
				<dtyp:displayterm value="SouthernCaliforniaGas">Southern California Gas</dtyp:displayterm>
				<dtyp:displayterm value="SouthwestGasCorp">Southwest Gas Corp.</dtyp:displayterm>
				<dtyp:displayterm value="VernonLightPower">Vernon Light &amp; Power</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="AlamedaMunicipalPower"/>
			<xsd:enumeration value="AnaheimPublicUtilities"/>
			<xsd:enumeration value="AzusaLightWater"/>
			<xsd:enumeration value="BearValleyElectric"/>
			<xsd:enumeration value="BurbankWaterPower"/>
			<xsd:enumeration value="CityPaloAltoUtilities"/>
			<xsd:enumeration value="CitySusanville"/>
			<xsd:enumeration value="CityVernonGasSystem"/>
			<xsd:enumeration value="ColtonPublicUtilities"/>
			<xsd:enumeration value="GlendalePublicServiceDepartment"/>
			<xsd:enumeration value="GridleyMunicipalUtilities"/>
			<xsd:enumeration value="HealdsburgMunicipalElectricDepartment"/>
			<xsd:enumeration value="ImperialIrrigationDistrict"/>
			<xsd:enumeration value="LibertyEnergy"/>
			<xsd:enumeration value="LosAngelesDepartmentWaterPower"/>
			<xsd:enumeration value="LosBeachGasOil"/>
			<xsd:enumeration value="PacificGasElectric"/>
			<xsd:enumeration value="PacifiCorp"/>
			<xsd:enumeration value="PasadenaWaterPower"/>
			<xsd:enumeration value="RiversidePublicUtilities"/>
			<xsd:enumeration value="SacramentoMunicipalUtilityDistrict"/>
			<xsd:enumeration value="SanDiegoGasElectric"/>
			<xsd:enumeration value="SiliconValleyPower"/>
			<xsd:enumeration value="SouthernCaliforniaEdison"/>
			<xsd:enumeration value="SouthernCaliforniaGas"/>
			<xsd:enumeration value="SouthwestGasCorp"/>
			<xsd:enumeration value="VernonLightPower"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CDSCode">
		<xsd:annotation>
			<xsd:documentation>The County District School Code uniquely identifies every school district and every school in California.  It  consists of 14 numbers :2 numbers for the county, followed by 5 numbers for the school district followed by 7 numbers for the school.  It is defined as a string in case other characters are ever introduced by the CDE.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Country District School Code: COMPOSITE: Identifier Label = "Country District School Code", Identifier = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\d{14}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="City">
		<xsd:annotation>
			<xsd:documentation>This is the name of a city used in an address</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>City</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: TownDetail - name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:City"/>
	</xsd:simpleType>
	<xsd:simpleType name="CommodityKind">
		<xsd:annotation>
			<xsd:documentation>This specifies the basic resource category, such as electricity or natural gas, for which a measured commodity value is provided.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource: NOTE: Constrain list to Utility Enumerations: Electricity, Natural Gas</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: CommodityKind</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="Electricity">Electricity</dtyp:displayterm>
				<dtyp:displayterm value="NaturalGas">Natural gas</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="Electricity">1</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="NaturalGas">7</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCEEnum">
				<dtyp:SCETerm value="Electricity">E</dtyp:SCETerm>
				<dtyp:SCETerm value="NaturalGas"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Electricity"/>
			<xsd:enumeration value="NaturalGas"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionAnnualPeriodTotal">
		<xsd:annotation>
			<xsd:documentation>kWh used over the annual reporting period  Units: none</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Total Electricity Used during the annual reporting period.</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Annual: COMPOSITE: Interval Frequency = "Annual", Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: SummaryMeasurement  value</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionBillingPeriodTotal">
		<xsd:annotation>
			<xsd:documentation>kWh used over the billing cycle.  Units: none</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Total Electricity Used</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Billing Period: COMPOSITE: Interval Frequency = "Billing Period", Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: SummaryMeasurement  value</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionOffPeak">
		<xsd:annotation>
			<xsd:documentation>Energy usage during off peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Off Peak: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "Off peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionOffPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Energy usage during off peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Off Peak Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "Off peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionOnPeak">
		<xsd:annotation>
			<xsd:documentation>Energy usage during the peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "On peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionOnPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Energy usage during the peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "On peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionSemiPeak">
		<xsd:annotation>
			<xsd:documentation>Energy usage during semi peak or mid peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Semi Peak: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "Semi peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionSemiPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Energy usage during semi peak or mid peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Semi Peak Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "Semi peak",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionTier">
		<xsd:annotation>
			<xsd:documentation>The utility pricing category associated with a specified charge or reading.  Each tier is generally associated with a specific charge rate which is usage-dependent.  Each utility may have its own unique tier system which further depends upon the specific commodity type.  (e.g. electricity or gas).  Units: enumeration</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Consumption Energy Tier Designation For Rate Structure: NOTE: BEDES data type is Integer rather than enumeration
</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: consumptionTier</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="Tier1">Tier 1</dtyp:displayterm>
				<dtyp:displayterm value="Tier2">Tier 2</dtyp:displayterm>
				<dtyp:displayterm value="Tier3">Tier 3</dtyp:displayterm>
				<dtyp:displayterm value="Tier4">Tier 4</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Tier1"/>
			<xsd:enumeration value="Tier2"/>
			<xsd:enumeration value="Tier3"/>
			<xsd:enumeration value="Tier4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionUnitOfMeasure">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Units: NOTE: BEDES Constrain list to Utility Enumerations</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: uom type UnitSymbolKind</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="kWh">kiloWatts per hour</dtyp:displayterm>
				<dtyp:displayterm value="therm">Therm</dtyp:displayterm>
				<dtyp:displayterm value="Wh">Watts per hour</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="kWh"/>
				<dtyp:GreenButtonTerm value="therm">169</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="Wh">72</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantPermissive">
			<xsd:enumeration value="kWh"/>
			<xsd:enumeration value="therm"/>
			<xsd:enumeration value="Wh"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Cost">
		<xsd:annotation>
			<xsd:documentation>  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Cost</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: cost</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal3PlacesNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="CostAdditionalLastPeriod">
		<xsd:annotation>
			<xsd:documentation>The cost of the commodity during the billing period in hundred-thousandths of the currency specified.  So if it is USD and the value reported is 2558 that would be $2.558  Units: none</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Billing Cycle Total Dollar Amount For Electricity</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Cost Additional Last Period</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: costAdditionalLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="Currency">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Currency</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: currency</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="USD">US dollar</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="USD">840</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="USD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CustomerKind">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: CustomerKind extended</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="LocalEducationAgency">Local Education Agency</dtyp:displayterm>
				<dtyp:displayterm value="LocalGovernment">Local Government</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="LocalEducationAgency"/>
			<xsd:enumeration value="LocalGovernment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CustomerName">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Customer Name: COMPOSITE: Role = "Customer", Name = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  Customer - name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:ObjectNamePermissive"/>
	</xsd:simpleType>
	<xsd:simpleType name="DataNotAvailable">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Data is not available</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="NoData">No data available</dtyp:displayterm>
				<dtyp:displayterm value="NotApplicable">This data is not applicable to current circumstances</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="NoData"/>
				<dtyp:GreenButtonTerm value="NotApplicable">0 is assigned in some enumerations with documentation " Not Applicable"</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="NoData"/>
			<xsd:enumeration value="NotApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfYearReading">
		<xsd:annotation>
			<xsd:documentation>A calendar day expressed as yyyy-mm-dd  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>End Time Stamp</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>no date types only Unix epoch, seconds from January 1, 1970</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DayOfYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximum">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during a billing period  Units: none</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumOffPeak">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during off peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Off Peak Maximum: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "Off peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumOffPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during off peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Off Peak Maximum Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "Off peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumOnPeak">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during the peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak Maximum: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "On peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumOnPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during the peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak Maximum Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "On peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumSemiPeak">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during semi peak or mid peak time of use period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Semi Peak Maximum: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "Semi peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DemandMaximumSemiPeakAnnual">
		<xsd:annotation>
			<xsd:documentation>Maximum demand during semi peak or mid peak time of use period during the annual reporting period.  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Semi Peak Maximum Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "Semi peak", Meter Reading Type = "Maximum",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: IntervalReading - EnergyUsage combined with ReadingType -  tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="DurationInSeconds">
		<xsd:annotation>
			<xsd:documentation>Number of seconds for a specific time interval.   For 15 minute interval data, the duration is 900 seconds.  For an hour interval data, the duration is 3600 seconds.  Units: s</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Interval Duration</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: duration</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Duration"/>
	</xsd:simpleType>
	<xsd:simpleType name="ElectricityCostAnnualTotal">
		<xsd:annotation>
			<xsd:documentation>This aggregates the electricity costs from all of the customer agreements for the customer or a subcustomer like a school site that is part of a local education agency customer  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Electricity Resource Cost Annual: COMPOSITE: Resource = "Electricity", Interval Frequency = "Annual", Resource Cost = [value]
</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyDelivered">
		<xsd:annotation>
			<xsd:documentation>In a system that both receives energy from the utility and generates energy with a renewable system such as photovoltaics, this is the quantity of energy delivered from the utility during in a specified time period. It is always positive Units are determined by the energy type.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Delivered From Utility: COMPOSITE: Generation Type = "Utility provided",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal4PlacesNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyGenerationOnSite">
		<xsd:annotation>
			<xsd:documentation>This value is true if there is renewable energy generation on site and it contributes to the utility net usage.  Otherwise the value is false.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Generation Type: NOTE: Constrain list to: Onsite renewable, Utility provided; BEDES does not use boolean terms</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyReceived">
		<xsd:annotation>
			<xsd:documentation>In a system that both receives energy from the utility and generates energy with a renewable system such as photovoltaics, this is the quantity of on-site generated energy sent to the utility during in a specified time period.   It is always a positive value.  Units are determined by the energy type.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use Sent To Utility: COMPOSITE: Generation Type = "Onsite renewable",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal4PlacesNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyUsage">
		<xsd:annotation>
			<xsd:documentation>The quantity of energy used in a specified time period.  If the commodity type is natural gas, the quantity used is expected to be positive which simply means the customer is consuming a resource provided by the utility.  If the commodity type is electricity, a positive value likewise reflects energy provided by the utility and used by the customer at the usage point.  However, a negative energy usage value can occur if the customer has a grid-intertied electrical energy production system, such as a solar panel array, and feeds net energy back into the grid during the specified time period.  Units: Units are determined by the ReadingType element which is in the header for a collection of readings.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: SummaryMeasurement -   value</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Billing Demand</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Billing Demand</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Decimal4PlacesNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="GasCostAnnualTotal">
		<xsd:annotation>
			<xsd:documentation>This aggregates the gas costs from all of the customer agreements for the customer or a subcustomer like a school site that is part of a local education agency customer  Units: none</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Natural Gas Resource Cost Annual: COMPOSITE: Resource = "Natural Gas", Interval Frequency = "Annual", Resource Cost = [value]
</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntervalLength">
		<xsd:annotation>
			<xsd:documentation>Reading interval is one of several time intervals expressed in seconds</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Interval Duration</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="300">5 minute interval</dtyp:displayterm>
				<dtyp:displayterm value="3600">1 hour interval</dtyp:displayterm>
				<dtyp:displayterm value="60">1 minute interval</dtyp:displayterm>
				<dtyp:displayterm value="86400">1 day interval</dtyp:displayterm>
				<dtyp:displayterm value="900">15 minute interval</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationIntegerNonNegative">
			<xsd:enumeration value="300"/>
			<xsd:enumeration value="3600"/>
			<xsd:enumeration value="60"/>
			<xsd:enumeration value="86400"/>
			<xsd:enumeration value="900"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Latitude">
		<xsd:annotation>
			<xsd:documentation>Meter latitude is the latitude of a specific utility meter used to associate it with a building location.  Units: none</xsd:documentation>
			<xsd:documentation source="propertyrules">MeterLatitude represents latitude in degrees and a decimal of a degree.  It has to be converted if compared with latitude in degees, minutes and seconds.</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Meter Latitude</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Latitude</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Latitude"/>
	</xsd:simpleType>
	<xsd:simpleType name="Longitude">
		<xsd:annotation>
			<xsd:documentation>Meter Longitude is the longitude of a specific utility meter used to associate it with a building location.  Units: none</xsd:documentation>
			<xsd:documentation source="propertyrules">MeterLongitude represents longitude in degrees and a decimal of a degree.  It has to be converted if compared with longitude in degees, minutes and seconds.</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Meter Longitude</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Longitude</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Longitude"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaximumDemandUnitOfMeasure">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Units</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: uom type UnitSymbolKind</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="kW">kiloWatts</dtyp:displayterm>
				<dtyp:displayterm value="therm">Therm</dtyp:displayterm>
				<dtyp:displayterm value="W">Watts</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="kW"/>
				<dtyp:GreenButtonTerm value="therm">169</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="W">38</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantPermissive">
			<xsd:enumeration value="kW"/>
			<xsd:enumeration value="therm"/>
			<xsd:enumeration value="W"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterID">
		<xsd:annotation>
			<xsd:documentation>This uniquely identifiers the physical meter delivering usage data to ta usage point.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Utility Meter Number</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: EndDevice - utcNumber</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Mtr_Id</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Meter Number</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Meter ID</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MeterType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Type of Resource Meter</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: EndDevice -  type (very different values because cover lots of different end devices</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="IntervalMeter">Interval Data Meter</dtyp:displayterm>
				<dtyp:displayterm value="NetMeter">Net Meter</dtyp:displayterm>
				<dtyp:displayterm value="SmartMeter">Smart Meter</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="IntervalMeter"/>
			<xsd:enumeration value="NetMeter"/>
			<xsd:enumeration value="SmartMeter"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAICS_Code">
		<xsd:annotation>
			<xsd:documentation>NAICS (North American Industry Classification System) code classifies the primary type of economic activity of the premise.</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>NAICS Code</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NAICS Code</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NoDemandDataAvailable">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:documentation source="propertyrules">This value is true if there is no interval data available; and false if interval data available is available.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="NoIntervalDataAvailable">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:documentation source="propertyrules">This value is true if there is no interval data available; and false if interval data available is available.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="NoTimeOfUseDataAvailable">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:documentation source="propertyrules">This value is true if there is no interval data available; and false if interval data available is available.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="NotTimeOfUseRate">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:documentation source="propertyrules">This value is true if the rate does not provide time of use consumption usage for on peak, semi peak and off peak time periods.; and false if it does</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Type of rate structure: NOTE: this is a Constrained List in BEDES</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="P39AnnualPeriodEndDate">
		<xsd:annotation>
			<xsd:documentation>This is the end date for an annual reporting period for the Proposition 39 school utility data.  Its required format is yyyy-mm-dd and is controlled to be June 30 of a year.  The first possible end date is 2013-06-30.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>End Time Stamp</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationDateConstant">
			<xsd:enumeration value="2013-06-30"/>
			<xsd:enumeration value="2014-06-30"/>
			<xsd:enumeration value="2015-06-30"/>
			<xsd:enumeration value="2016-06-30"/>
			<xsd:enumeration value="2017-06-30"/>
			<xsd:enumeration value="2018-06-30"/>
			<xsd:enumeration value="2019-06-30"/>
			<xsd:enumeration value="2020-06-30"/>
			<xsd:enumeration value="2021-06-30"/>
			<xsd:enumeration value="2022-06-30"/>
			<xsd:enumeration value="2023-06-30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="P39AnnualPeriodStartDate">
		<xsd:annotation>
			<xsd:documentation>This is the begin date for an annual reporting period for the Proposition 39 school utility data.  Its required format is yyyy-mm-dd and is controlled to be July 01 of a year.  The first possible begin date is 2012-07-30.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Start Time Stamp</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationDateConstant">
			<xsd:enumeration value="2012-07-01"/>
			<xsd:enumeration value="2013-07-01"/>
			<xsd:enumeration value="2014-07-01"/>
			<xsd:enumeration value="2015-07-01"/>
			<xsd:enumeration value="2016-07-01"/>
			<xsd:enumeration value="2017-07-01"/>
			<xsd:enumeration value="2018-07-01"/>
			<xsd:enumeration value="2019-07-01"/>
			<xsd:enumeration value="2020-07-01"/>
			<xsd:enumeration value="2021-07-01"/>
			<xsd:enumeration value="2022-07-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="P39SchemaVersion">
		<xsd:annotation>
			<xsd:documentation>This is the version of the Proposition 39 schema which consists of three files: DataTypes.xsd, UtilityData.xsd and UtilDataProp39Report.xsd</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PeakDemandAverage">
		<xsd:annotation>
			<xsd:documentation>  Units: kW</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Average Peak Demand (kW)</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak Average: COMPOSITE: Interval Frequency = "Billing Period", Meter Reading Type = "On peak", Meter Reading Type = "Average",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="PeakDemandAverageAnnual">
		<xsd:annotation>
			<xsd:documentation>Average peak demand during the annual reporting period.  Units: kW</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Average Peak Demand (kW)</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Use On Peak Average Annual: COMPOSITE: Interval Frequency = "Annual", Meter Reading Type = "On peak", Meter Reading Type = "Average",  Resource Use = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:DecimalNonnegative"/>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Customer Telephone Number: COMPOSITE: Role = "Customer", Telephone Number = [value]
</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: TelephoneNumber</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PremisesID">
		<xsd:annotation>
			<xsd:documentation>This is a unique identifier for premises.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Premises Identifier: COMPOSITE: Identifier Label = "Premises"; Identifier = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Premise ID</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCG">
				<dtyp:SCGTerm>Facility ID</dtyp:SCGTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Premise ID</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Prop39AnnualReportingPeriod">
		<xsd:annotation>
			<xsd:documentation>This identifies the annual reporting period for Proposition 39 utility data.  The value defines the starting date which is always July 1st of the year and the ending date which is always June 30 of the following year.</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="2012-07-01Through2013-06-30">07-01-2012 Through 06-30-2013</dtyp:displayterm>
				<dtyp:displayterm value="2013-07-01Through2014-06-30">07-01-2013 Through 06-30-2014</dtyp:displayterm>
				<dtyp:displayterm value="2014-07-01Through2015-06-30">07-01-2014 Through 06-30-2015</dtyp:displayterm>
				<dtyp:displayterm value="2015-07-01Through2016-06-30">07-01-2015 Through 06-30-2016</dtyp:displayterm>
				<dtyp:displayterm value="2016-07-01Through2017-06-30">07-01-2016 Through 06-30-2017</dtyp:displayterm>
				<dtyp:displayterm value="2017-07-01Through2018-06-30">07-01-2017 Through 06-30-2018</dtyp:displayterm>
				<dtyp:displayterm value="2018-07-01Through2019-06-30">07-01-2018 Through 06-30-2019</dtyp:displayterm>
				<dtyp:displayterm value="2019-07-01Through2020-06-30">07-01-2019 Through 06-30-2020</dtyp:displayterm>
				<dtyp:displayterm value="2020-07-01Through2021-06-30">07-01-2020 Through 06-30-2021</dtyp:displayterm>
				<dtyp:displayterm value="2021-07-01Through2022-06-30">07-01-2021 Through 06-30-2022</dtyp:displayterm>
				<dtyp:displayterm value="2022-07-01Through2023-06-30">07-01-2022 Through 06-30-2023</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantPermissive">
			<xsd:enumeration value="2012-07-01Through2013-06-30"/>
			<xsd:enumeration value="2013-07-01Through2014-06-30"/>
			<xsd:enumeration value="2014-07-01Through2015-06-30"/>
			<xsd:enumeration value="2015-07-01Through2016-06-30"/>
			<xsd:enumeration value="2016-07-01Through2017-06-30"/>
			<xsd:enumeration value="2017-07-01Through2018-06-30"/>
			<xsd:enumeration value="2018-07-01Through2019-06-30"/>
			<xsd:enumeration value="2019-07-01Through2020-06-30"/>
			<xsd:enumeration value="2020-07-01Through2021-06-30"/>
			<xsd:enumeration value="2021-07-01Through2022-06-30"/>
			<xsd:enumeration value="2022-07-01Through2023-06-30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RateScheduleID">
		<xsd:annotation>
			<xsd:documentation>The short identifier for a  utility rate schedule or billing tariff.  For example  Schedule D-CARE  or Schedule E-CARE or just E-CARE</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Utility Rate Schedule ID</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Rate Structure ID</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  ServiceDeliveryPoint - tariffProfile</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Rate</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RateScheduleTitle">
		<xsd:annotation>
			<xsd:documentation>The utility rate schedule or billing tariff title.  For example: California Alternate Rates For Energy Domestic Service</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Utility Rate Schedule Title</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Rate Structure ID</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  ServiceDeliveryPoint - tariffProfile</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RateStructure">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Type of rate structure</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  PricingStructure  type is a link (xsd:anyURI)  not a descriptive string</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Rate Schedule</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Rate Schedule</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SchoolSiteName">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Premises Name: COMPOSITE: Identifier Label = "Premises"; Name = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>n/a</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceKind">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Service: NOTE: Constrain list to Utility Enumerations: Electricity, Natural Gas</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: : UsagePoint-ServiceCategory- ServiceKind</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="Electricity">Electricity service</dtyp:displayterm>
				<dtyp:displayterm value="Gas">Gas service</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="Electricity">0</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="Gas">1</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="Electricity"/>
			<xsd:enumeration value="Gas"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServicePointID">
		<xsd:annotation>
			<xsd:documentation>A unique identifier for the customer location where utility provided resources, such as electricity or natural gas, are consumed and/or metered.  It is possible for a service point to aggregate more than one meter.  It is also possible that one or more such meters may be changed over time but the service point id is expected to remain the same.</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Service Point ID</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Service Point Identifier: COMPOSITE: Role = "Customer", Role ID = [value]</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: possibly UsagePoint - ServiceDeliveryPoint - Name</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Service Point ID</dtyp:PGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:ObjectNamePermissive"/>
	</xsd:simpleType>
	<xsd:simpleType name="StartTime">
		<xsd:annotation>
			<xsd:documentation>The number of seconds that have elapsed since January 1, 1970 and when an event begins such as a measurement interval.   If an event started on  12/24/2014 4:57 pm pacific time the StartTime value would be 1419469034.  Units: s</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>NA</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  start</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Bseg_Start_Dt  ( DATE mm/dd/yyyy)</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>From Read Date (DATE dd/mm/yyyy)</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Timestamp"/>
	</xsd:simpleType>
	<xsd:simpleType name="StreetAddress">
		<xsd:annotation>
			<xsd:documentation>This is the street address for a utility Customer</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Street Address</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Street Address</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: StreetAddress - StreetDetail has many properties e.g. number, name of street, type of street, prefix, suffix</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:StreetAddress"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeOfUse">
		<xsd:annotation>
			<xsd:documentation>An energy usage qualifier which specifies the time of resource consumption relative to peak demand periods.  In general, peak demand periods are seasonal.  Units: enumeration</xsd:documentation>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Meter Reading Type: NOTE: Constrain to Utility enumerations</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: tou</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="OffPeak">Off Peak TOU</dtyp:displayterm>
				<dtyp:displayterm value="OnPeak">On Peak TOU</dtyp:displayterm>
				<dtyp:displayterm value="SemiPeak">Semi Peak TOU</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="PGEEnum">
				<dtyp:PGETerm value="OffPeak">Off -Peak</dtyp:PGETerm>
				<dtyp:PGETerm value="OnPeak">Peak</dtyp:PGETerm>
				<dtyp:PGETerm value="SemiPeak">Partial-Peak</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCEEnum">
				<dtyp:SCETerm value="OffPeak"/>
				<dtyp:SCETerm value="OnPeak"/>
				<dtyp:SCETerm value="SemiPeak">Mid-Peak</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGEEnum">
				<dtyp:SDGETerm value="OffPeak">Off-Peak</dtyp:SDGETerm>
				<dtyp:SDGETerm value="OnPeak">On-Peak</dtyp:SDGETerm>
				<dtyp:SDGETerm value="SemiPeak">Semi-Peak</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="OffPeak"/>
			<xsd:enumeration value="OnPeak"/>
			<xsd:enumeration value="SemiPeak"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UnitOfMeasure">
		<xsd:annotation>
			<xsd:documentation>kWh used over the billing cycle.</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Total Electricity Used</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Resource Units: NOTE: Constrain to Utility Enumerations
</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd: uom type UnitSymbolKind</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="Btu">Btu</dtyp:displayterm>
				<dtyp:displayterm value="ft2">Square feet</dtyp:displayterm>
				<dtyp:displayterm value="ft3">Cubic feet</dtyp:displayterm>
				<dtyp:displayterm value="h">Hour</dtyp:displayterm>
				<dtyp:displayterm value="kW">kiloWatts</dtyp:displayterm>
				<dtyp:displayterm value="kWh">kiloWatts per hour</dtyp:displayterm>
				<dtyp:displayterm value="min">Minutes</dtyp:displayterm>
				<dtyp:displayterm value="s">Seconds</dtyp:displayterm>
				<dtyp:displayterm value="therm">Therm</dtyp:displayterm>
				<dtyp:displayterm value="W">Watts</dtyp:displayterm>
				<dtyp:displayterm value="Wh">Watts per hour</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButtonEnum">
				<dtyp:GreenButtonTerm value="Btu">132</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="ft2"/>
				<dtyp:GreenButtonTerm value="ft3">119</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="h">160</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="kW"/>
				<dtyp:GreenButtonTerm value="kWh"/>
				<dtyp:GreenButtonTerm value="min">159</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="s">27</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="therm">169</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="W">38</dtyp:GreenButtonTerm>
				<dtyp:GreenButtonTerm value="Wh">72</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstantPermissive">
			<xsd:enumeration value="Btu"/>
			<xsd:enumeration value="ft2"/>
			<xsd:enumeration value="ft3"/>
			<xsd:enumeration value="h"/>
			<xsd:enumeration value="kW"/>
			<xsd:enumeration value="kWh"/>
			<xsd:enumeration value="min"/>
			<xsd:enumeration value="s"/>
			<xsd:enumeration value="therm"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="Wh"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UtilityType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Type of Utility</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Utility Services: NOTE: Constrain to Utility Enumerations</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>ServiceSupplier -</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="displayterm">
				<dtyp:displayterm value="ElectricityAndGas">Electricity and gas account</dtyp:displayterm>
				<dtyp:displayterm value="ElectricityOnly">Electricity only account</dtyp:displayterm>
				<dtyp:displayterm value="GasOnly">Gas only account</dtyp:displayterm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:EnumerationConstant">
			<xsd:enumeration value="ElectricityAndGas"/>
			<xsd:enumeration value="ElectricityOnly"/>
			<xsd:enumeration value="GasOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZipPlus4">
		<xsd:annotation>
			<xsd:documentation>This is the USPS ZIP code which may have just the 5 digits, #####,  or it can be the ZIP+4 with the format  #####-####</xsd:documentation>
			<xsd:appinfo source="displaytermType">
				<dtyp:displayterm>Zip code + 4</dtyp:displayterm>
			</xsd:appinfo>
			<xsd:appinfo source="BEDES">
				<dtyp:BEDESTerm>Postal Code Plus 4</dtyp:BEDESTerm>
			</xsd:appinfo>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: StreetAddress - TownDetail - Code is the only thing like this but not mention of storing zip code</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="dtyp:Zipcode"/>
	</xsd:simpleType>
	<xsd:complexType name="AnnualElectricPowerUsageSummary">
		<xsd:annotation>
			<xsd:documentation>This aggregates all usage and billing data for all customer agreements for an annual reporting period.  For Proposition 39 utility data collection, schools are subcustomers of the Local Education Agency customer and each school will have their usage data aggregated from one or more customer agreements that serve the school.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="currency" type="util:Currency"/>
			<xsd:element name="agreementIdentifier" type="util:AgreementIdentifier"/>
			<xsd:element name="electricityCostAnnualTotal" type="util:ElectricityCostAnnualTotal"/>
			<xsd:element name="p39AnnualPeriodEndDate" type="util:P39AnnualPeriodEndDate"/>
			<xsd:element name="p39AnnualPeriodStartDate" type="util:P39AnnualPeriodStartDate"/>
			<xsd:element name="OverallElectricityConsumptionAnnual" type="util:OverallElectricityConsumptionAnnual"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnnualGasPowerUsageSummary">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="currency" type="util:Currency"/>
			<xsd:element name="agreementIdentifier" type="util:AgreementIdentifier"/>
			<xsd:element name="gasCostAnnualTotal" type="util:GasCostAnnualTotal"/>
			<xsd:element name="p39AnnualPeriodEndDate" type="util:P39AnnualPeriodEndDate"/>
			<xsd:element name="p39AnnualPeriodStartDate" type="util:P39AnnualPeriodStartDate"/>
			<xsd:element name="OverallGasConsumptionAnnual" type="util:OverallGasConsumptionAnnual"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillingPeriod">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  billingPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Billing Cycle</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Billing Period</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="billingPeriodMonth" type="util:BillingPeriodMonth"/>
			<xsd:element name="durationInSeconds" type="util:DurationInSeconds"/>
			<xsd:element name="startTime" type="util:StartTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Customer">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: Customer</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Customer</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Customer</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCG">
				<dtyp:SCGTerm>Customer</dtyp:SCGTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Customer</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cDSCode" type="util:CDSCode"/>
			<xsd:element name="city" type="util:City"/>
			<xsd:element name="customerKind" type="util:CustomerKind"/>
			<xsd:element name="customerName" type="util:CustomerName"/>
			<xsd:element name="streetAddress" type="util:StreetAddress"/>
			<xsd:element name="zipPlus4" type="util:ZipPlus4"/>
			<xsd:element name="CustomerAccount" type="util:CustomerAccount"/>
			<xsd:element name="SchoolSite" type="util:SchoolSite"/>
			<xsd:element name="Utility" type="util:Utility"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccount">
		<xsd:annotation>
			<xsd:documentation>A collection of Accounts for the same LEA</xsd:documentation>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: CustomerAccount</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Account</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Customer Account</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCG">
				<dtyp:SCGTerm>Service Account</dtyp:SCGTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>n/a</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accountNumber" type="util:AccountNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAgreement">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: CustomerAgreement</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Service Agreement</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Service Account</dtyp:SCETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCG">
				<dtyp:SCGTerm>Billing Account</dtyp:SCGTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Account</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="agreementIdentifier" type="util:AgreementIdentifier"/>
			<xsd:element name="agreementName" type="util:AgreementName"/>
			<xsd:element name="rateScheduleID" type="util:RateScheduleID"/>
			<xsd:element name="rateScheduleTitle" type="util:RateScheduleTitle"/>
			<xsd:element name="ElectricPowerUsageSummary" type="util:ElectricPowerUsageSummary"/>
			<xsd:element name="GasPowerUsageSummary" type="util:GasPowerUsageSummary"/>
			<xsd:element name="ServiceLocation" type="util:ServiceLocation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ElectricPowerUsageSummary">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  ElectricPowerUsageSummary</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="billLastPeriod" type="util:BillLastPeriod"/>
			<xsd:element name="costAdditionalLastPeriod" type="util:CostAdditionalLastPeriod"/>
			<xsd:element name="currency" type="util:Currency"/>
			<xsd:element name="servicePointID" type="util:ServicePointID"/>
			<xsd:element name="BillingPeriod" type="util:BillingPeriod"/>
			<xsd:element name="OverallElectricityConsumptionLastPeriod" type="util:OverallElectricityConsumptionLastPeriod"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasPowerUsageSummary">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  not defined but could base on UsageSummary</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="billLastPeriod" type="util:BillLastPeriod"/>
			<xsd:element name="consumptionBillingPeriodTotal" type="util:ConsumptionBillingPeriodTotal"/>
			<xsd:element name="costAdditionalLastPeriod" type="util:CostAdditionalLastPeriod"/>
			<xsd:element name="currency" type="util:Currency"/>
			<xsd:element name="servicePointID" type="util:ServicePointID"/>
			<xsd:element name="unitOfMeasure" type="util:UnitOfMeasure"/>
			<xsd:element name="BillingPeriod" type="util:BillingPeriod"/>
			<xsd:element name="OverallGasConsumptionLastPeriod" type="util:OverallGasConsumptionLastPeriod"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntervalBlock">
		<xsd:annotation>
			<xsd:documentation>A collection type holding an aggregation of IntervalReading types.  The commodity type, units and other information required to interpret the contents of this type is found in the ReadingType element which is in the header at the daily aggregation level.</xsd:documentation>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  IntervalBlock</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IntervalPeriod" type="util:IntervalPeriod"/>
			<xsd:element name="IntervalReading" type="util:IntervalReading" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntervalPeriod">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  TimeInterval</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="durationInSeconds" type="util:DurationInSeconds"/>
			<xsd:element name="startTime" type="util:StartTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntervalReading">
		<xsd:annotation>
			<xsd:documentation>A measure of energy used during a specified time interval.  Interval readings typically occur in large groups and occur sequentially with a short time interval which may be on the order of minutes.  The commodity type, units and other information required to interpret the contents of this type is found in the ReadingType element which is in the header for a collection of readings at the daily aggregation level.</xsd:documentation>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  interval</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="energyUsage" type="util:EnergyUsage"/>
			<xsd:element name="cost" type="util:Cost"/>
			<xsd:element name="durationInSeconds" type="util:DurationInSeconds"/>
			<xsd:element name="startTime" type="util:StartTime"/>
			<xsd:element name="timeOfUse" type="util:TimeOfUse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Meter">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: EndDevice</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="city" type="util:City"/>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="latitude" type="util:Latitude" minOccurs="0"/>
			<xsd:element name="longitude" type="util:Longitude" minOccurs="0"/>
			<xsd:element name="meterType" type="util:MeterType"/>
			<xsd:element name="servicePointID" type="util:ServicePointID"/>
			<xsd:element name="streetAddress" type="util:StreetAddress"/>
			<xsd:element name="zipPlus4" type="util:ZipPlus4"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeterReading">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:   MeterReading</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IntervalBlock" type="util:IntervalBlock" maxOccurs="unbounded"/>
			<xsd:element name="ReadingType" type="util:ReadingType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OverallElectricityConsumptionAnnual">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  overallConsumptionLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="consumptionAnnualPeriodTotal" type="util:ConsumptionAnnualPeriodTotal"/>
			<xsd:element name="consumptionOffPeakAnnual" type="util:ConsumptionOffPeakAnnual"/>
			<xsd:element name="consumptionOnPeakAnnual" type="util:ConsumptionOnPeakAnnual"/>
			<xsd:element name="consumptionSemiPeakAnnual" type="util:ConsumptionSemiPeakAnnual"/>
			<xsd:element name="consumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure"/>
			<xsd:element name="demandMaximumOffPeakAnnual" type="util:DemandMaximumOffPeakAnnual"/>
			<xsd:element name="demandMaximumOnPeakAnnual" type="util:DemandMaximumOnPeakAnnual"/>
			<xsd:element name="demandMaximumSemiPeakAnnual" type="util:DemandMaximumSemiPeakAnnual"/>
			<xsd:element name="maximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure"/>
			<xsd:element name="peakDemandAverageAnnual" type="util:PeakDemandAverageAnnual"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OverallElectricityConsumptionLastPeriod">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  overallConsumptionLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="consumptionBillingPeriodTotal" type="util:ConsumptionBillingPeriodTotal"/>
			<xsd:element name="consumptionOffPeak" type="util:ConsumptionOffPeak"/>
			<xsd:element name="consumptionOnPeak" type="util:ConsumptionOnPeak"/>
			<xsd:element name="consumptionSemiPeak" type="util:ConsumptionSemiPeak"/>
			<xsd:element name="consumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure"/>
			<xsd:element name="demandMaximumOffPeak" type="util:DemandMaximumOffPeak"/>
			<xsd:element name="demandMaximumOnPeak" type="util:DemandMaximumOnPeak"/>
			<xsd:element name="demandMaximumSemiPeak" type="util:DemandMaximumSemiPeak"/>
			<xsd:element name="maximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure"/>
			<xsd:element name="peakDemandAverage" type="util:PeakDemandAverage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OverallGasConsumptionAnnual">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  overallConsumptionLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="consumptionAnnualPeriodTotal" type="util:ConsumptionAnnualPeriodTotal"/>
			<xsd:element name="consumptionOffPeakAnnual" type="util:ConsumptionOffPeakAnnual"/>
			<xsd:element name="consumptionOnPeakAnnual" type="util:ConsumptionOnPeakAnnual"/>
			<xsd:element name="consumptionSemiPeakAnnual" type="util:ConsumptionSemiPeakAnnual"/>
			<xsd:element name="consumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure"/>
			<xsd:element name="demandMaximumOffPeakAnnual" type="util:DemandMaximumOffPeakAnnual"/>
			<xsd:element name="demandMaximumOnPeakAnnual" type="util:DemandMaximumOnPeakAnnual"/>
			<xsd:element name="demandMaximumSemiPeakAnnual" type="util:DemandMaximumSemiPeakAnnual"/>
			<xsd:element name="maximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure"/>
			<xsd:element name="peakDemandAverageAnnual" type="util:PeakDemandAverageAnnual"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OverallGasConsumptionLastPeriod">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  overallConsumptionLastPeriod</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="consumptionBillingPeriodTotal" type="util:ConsumptionBillingPeriodTotal"/>
			<xsd:element name="consumptionOffPeak" type="util:ConsumptionOffPeak"/>
			<xsd:element name="consumptionOnPeak" type="util:ConsumptionOnPeak"/>
			<xsd:element name="consumptionSemiPeak" type="util:ConsumptionSemiPeak"/>
			<xsd:element name="consumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure"/>
			<xsd:element name="demandMaximumOffPeak" type="util:DemandMaximumOffPeak"/>
			<xsd:element name="demandMaximumOnPeak" type="util:DemandMaximumOnPeak"/>
			<xsd:element name="demandMaximumSemiPeak" type="util:DemandMaximumSemiPeak"/>
			<xsd:element name="maximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure"/>
			<xsd:element name="peakDemandAverage" type="util:PeakDemandAverage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadingType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  ReadingType</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="unitOfMeasure" type="util:UnitOfMeasure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchoolSite">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="city" type="util:City"/>
			<xsd:element name="cDSCode" type="util:CDSCode"/>
			<xsd:element name="schoolSiteName" type="util:SchoolSiteName"/>
			<xsd:element name="streetAddress" type="util:StreetAddress"/>
			<xsd:element name="zipPlus4" type="util:ZipPlus4"/>
			<xsd:element name="AnnualElectricPowerUsageSummary" type="util:AnnualElectricPowerUsageSummary"/>
			<xsd:element name="AnnualGasPowerUsageSummary" type="util:AnnualGasPowerUsageSummary"/>
			<xsd:element name="CustomerAgreement" type="util:CustomerAgreement" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceLocation">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd:  ServiceLocation</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="SCE">
				<dtyp:SCETerm>Site</dtyp:SCETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="city" type="util:City"/>
			<xsd:element name="premisesID" type="util:PremisesID"/>
			<xsd:element name="streetAddress" type="util:StreetAddress"/>
			<xsd:element name="zipPlus4" type="util:ZipPlus4"/>
			<xsd:element name="UsagePoint" type="util:UsagePoint"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UsagePoint">
		<xsd:annotation>
			<xsd:documentation>The customer location where utility provided resources, such as electricity or natural gas, are consumed and/or metered.  The ServicePoint collects measured usage from one or more metering devices of the same commodity type.</xsd:documentation>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>espiDerived.xsd:  UsagePoint</dtyp:GreenButtonTerm>
			</xsd:appinfo>
			<xsd:appinfo source="PGE">
				<dtyp:PGETerm>Service Point</dtyp:PGETerm>
			</xsd:appinfo>
			<xsd:appinfo source="SDGE">
				<dtyp:SDGETerm>Service Point</dtyp:SDGETerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commodityKind" type="util:CommodityKind"/>
			<xsd:element name="servicePointID" type="util:ServicePointID"/>
			<xsd:element name="unitOfMeasure" type="util:UnitOfMeasure"/>
			<xsd:element name="Meter" type="util:Meter" maxOccurs="unbounded"/>
			<xsd:element name="MeterReading" type="util:MeterReading"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Utility">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo source="GreenButton">
				<dtyp:GreenButtonTerm>retailCustomer.xsd: ServiceSupplier with SupplierKind = utility</dtyp:GreenButtonTerm>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="californiaUtilityName" type="util:CaliforniaUtilityName"/>
			<xsd:element name="utilityType" type="util:UtilityType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
