schema_files/UtilDataProp39Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Diane Pepetone (L'Monte Information Services) -->
<xsd:schema xmlns="http://www.lmonte.com/prop39/UtilDataProp39Report" xmlns:util="http://www.lmonte.com/prop39/util" xmlns:dtyp="http://www.lmonte.com/prop39/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://www.lmonte.com/prop39/UtilDataProp39Report" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.004">
	<xsd:import namespace="http://www.lmonte.com/prop39/util" schemaLocation="UtilityDataModel.xsd"/>
	<xsd:import namespace="http://www.lmonte.com/prop39/dtyp" schemaLocation="DataTypes.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<copyright>Copyright 2014, L'Monte Information Services, Inc. This software is distributed under the terms of the GNU General Public License version 3 (the LICENSE).
            This software is free software as defined by the LICENSE and may be redistributed or modified by you (the LICENSEE) under the terms and conditions specified by the LICENSE.
            Disclaimer: this software is distributed without any warranty express or implied including the implied warranty of merchantability or fitness for a particular purpose.
            The rights and obligations of the LICENSEE are specified in the LICENSE. For a copy of the LICENSE, see http://www.gnu.org/licenses.</copyright>
			<docDetails>This document contains declarations and definitions required for utility data collection in connection with California Proposition 39.</docDetails>
			<releaseInfo>All versions of this document prior to version 1.0 are pre-release and should be regarded as experimental.</releaseInfo>
			<schemaInfo>Schema generated by ddtools build 124.</schemaInfo>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="UtilityLEA_SchoolPackage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UtilitySender" type="util:CaliforniaUtilityName" minOccurs="1"/>
				<xsd:element name="ReportingPeriod" type="util:Prop39AnnualReportingPeriod" minOccurs="1"/>
				<xsd:element name="Prop39SchemaVersion" type="util:P39SchemaVersion" fixed="P39 XML 1.004" minOccurs="1"/>
				<xsd:element name="DocumentData">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="utilDataProp39Report"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UtilDataProp39Report">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LEA_Customer_CDSCode" type="util:CDSCode" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>LEA CDS Code</xsd:documentation>
					<xsd:documentation source="CalculationsAndRules">This is the county district school (CDS) code for the local education agency (LEA) that is represented by  this customer.  It is a 14 digit code with the first two digits defining the county followed by 5 digits that define the district  followed by 7 zeros.  The last 7 digits are reserved for assignment to schools in the LEA.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LEA_CustomerData" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>User provides Customer data or LEA data</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:element name="CustomerData" minOccurs="1" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Customer</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Customer_CustomerName" type="util:CustomerName" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Customer Name</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is the customer name recorded by the utilities that represents the LEA.  If the Customer name is not the same as the LEA name, the CDS code can be used to establish the LEA's identity.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Customer_StreetAddress" type="util:StreetAddress" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Customer Street Address</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is the street address that the utility has for this customer.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Customer_City" type="util:City" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Customer City</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is the city that the utility has for this customer's address.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Customer_ZipPlus4" type="util:ZipPlus4" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Customer Zip code</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is the ZIP code that the utility has for this customer's address.   The value can be either the 5 digit ZIP code or the ZIP+4 code. The ZIP+4  is represented as #####-#### e.g.  94544-1136</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Customer_AccountNumber" type="util:AccountNumber" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Account Number</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is  a master account number for collecting the customer's specific customer agreements.  It is optional for utilities that do not define a master account.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Customer_PhoneNumber" type="util:PhoneNumber" minOccurs="0" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Phone Number</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is the phone number that the utility has for this customer.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="LEA_Data" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>LEA Customer</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="LEA_CustomerName" type="util:CustomerName" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>LEA Name</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">The name of the local education agency (LEA) as provided by the California Department of Education (CDE).  The LEA is a customer of the utility and is responsible for paying the customer agreements for the school reported on in the XML file.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LEA_StreetAddress" type="util:StreetAddress" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>LEA Street Address</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">The street address the California Department of Education (CDE) has for  the local education agency (LEA) district address</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LEA_City" type="util:City" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>LEA  City</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">The city the California Department of Education (CDE) has for  the local education agency (LEA) district address</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LEA_ZipPlus4" type="util:ZipPlus4" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>LEA  Zip code</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">The ZIP code the California Department of Education (CDE) has for  the local education agency (LEA) district address.  This is sometimes just the 5 digit ZIP code and sometimes it includes the additional 4 digits.  Either is accepted in this value.  The ZIP+4  which is represented as #####-#### e.g.  94544-1136</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LEA_PhoneNumber" type="util:PhoneNumber" minOccurs="0" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>LEA Phone Number</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">The phone number the California Department of Education (CDE) has for  the local education agency (LEA) district address</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SchoolSiteData" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>School Site Location and Customer Agreement Data</xsd:documentation>
					<xsd:documentation source="CalculationsAndRules">This section contains data to identify a school that is part of the LEA and list all of the service accounts or agreements that provide service to the school</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SchoolSite_SchoolSiteName" type="util:SchoolSiteName" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>School Site Name</xsd:documentation>
								<xsd:documentation source="CalculationsAndRules">The school name the California Department of Education (CDE) has for this school which is part of the LEA</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SchoolSite_CDSCode" type="util:CDSCode" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>School Site CDS Code</xsd:documentation>
								<xsd:documentation source="CalculationsAndRules">This is the county district school (CDS) code for the school within the LEA.  It is a 14 digit code with the first 7 digits are the same as the LEA, followed by 7 digits that uniquely define the school.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SchoolSite_StreetAddress" type="util:StreetAddress" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>School Site Street Address</xsd:documentation>
								<xsd:documentation source="CalculationsAndRules">The street address the California Department of Education (CDE) has for  the school address.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SchoolSite_City" type="util:City" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>School Site City</xsd:documentation>
								<xsd:documentation source="CalculationsAndRules">The city the California Department of Education (CDE) has for  the school address.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SchoolSite_ZipPlus4" type="util:ZipPlus4" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>School Site Zip code</xsd:documentation>
								<xsd:documentation source="CalculationsAndRules">The ZIP code the California Department of Education (CDE) has for  the school address.  This is sometimes just the 5 digit ZIP code and sometimes it includes the additional 4 digits.  Either is accepted in this value.  The ZIP+4  which is represented as #####-#### e.g.  94544-1136</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SchoolCustomerAgreement" minOccurs="1" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Customer Agreement(s)</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Agreement_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
											<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ServiceLocation" minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation/>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ServiceLocation_PremisesID" type="util:PremisesID" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Service Location Premise Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify the premise of this service location.  Usually there is only one service location in a customer agreement, but in some cases there are more than one.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ServiceLocation_StreetAddress" type="util:StreetAddress" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Service Location Street Address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ServiceLocation_City" type="util:City" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Service Location City</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ServiceLocation_ZipPlus4" type="util:ZipPlus4" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Service Location Zip code</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MeterCollections" minOccurs="1" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation/>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="MeterCollections_CommodityKind" type="util:CommodityKind" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Commodity</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is a container type for all meters of the same commodity type (electricity or natural gas) that collect data for a service location in the customer agreement.  In some cases there maybe more than one collection of meters on the agreement, one for gas and one for electricity.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="MeterCollections_ServicePointID" type="util:ServicePointID" minOccurs="0" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Usage Point or Service  Identifier</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify a usage point,  also referred to as the service point, which is a logical node that collects data for the same commodity type from one or more meters on a customer agreement.  Utilities may or may not use this  and therefore it is optional.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="MeterCollections_UnitOfMeasure" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Meter Unit of Measure</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">The unit of measure for the commodity type.</xsd:documentation>
																</xsd:annotation>
																<xsd:simpleType>
																	<xsd:restriction base="util:UnitOfMeasure">
																		<xsd:enumeration value="kWh"/>
																		<xsd:enumeration value="therm"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:element>
															<xsd:element name="Meters" minOccurs="1" maxOccurs="unbounded">
																<xsd:annotation>
																	<xsd:documentation/>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="Meters_MeterID" type="util:MeterID" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Meter Number or ID</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify a meter.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="Meters_Longitude" type="util:Longitude" minOccurs="0" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Meter Longitude</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">This is the longitude of the meter.  If available, it may be helpful in associating a service location with the correct buildings at a school site.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="Meters_Latitude" type="util:Latitude" minOccurs="0" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Meter Latitude</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">This is the latitude of the meter.  If available, it may be helpful in associating a service location with the correct buildings at a school site.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UsageData" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Each school utility data  XML file will contain either electricity usage or gas usage.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:element name="ElectricityUsageData" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation/>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ElectricityAnnualAllAgreements" minOccurs="0" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Electricity annual data for a school site that does not have ElectricityMonthly BillData</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ElectricityAnnual_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="kWh" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Electricity consumption unit of measure</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityAnnual_MaximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure" fixed="kW" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Electricity demand maximum unit of measure</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityAnnualAgreementTotals" minOccurs="1" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Annual Totals Per Agreement</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ElectricityAnnual_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityAnnual_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>July 1 of the reporting year expressed as a Unix epoch</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">The start time is midnight July 1st of  the reporting year  expressed as the number of seconds that have elapsed since midnight on January 1, 1970.  This expression for a date and time is sometimes referred to as the Unix epoch</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityAnnual_ElectricityCostAnnualTotal" type="util:ElectricityCostAnnualTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Electricity cost annual</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the total cost for electricity during this year</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityAnnual_ConsumptionAnnualPeriodTotal" type="util:ConsumptionAnnualPeriodTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Electricity consumption annual</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the total consumption of electricity during this year</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityAnnualTimeOfUse" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Peak, semi peak and off peak values if agreement is on a time of use rate.</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:choice minOccurs="1" maxOccurs="1">
																		<xsd:element name="ElectricityAnnualTimeOfUseValues" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation/>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="ElectricityAnnual_ConsumptionOnPeakAnnual" type="util:ConsumptionOnPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity consumption on peak annual</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Total consumption (kWh) of electricity during peak time of use.  This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_ConsumptionSemiPeakAnnual" type="util:ConsumptionSemiPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity consumption semi peak annual</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Total consumption (kWh) of electricity during semi-peak time of use. This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_ConsumptionOffPeakAnnual" type="util:ConsumptionOffPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity consumption off peak annual</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Total consumption (kWh) of electricity during off-peak time of use. This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_DemandMaximumOnPeakAnnual" type="util:DemandMaximumOnPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity demand maximum on peak</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Maximum demand (kW) for electricity during peak time of use. This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_DemandMaximumSemiPeakAnnual" type="util:DemandMaximumSemiPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity demand maximum semi  peak</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Maximum demand (kW) for electricity during semi-peak time of use. This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_DemandMaximumOffPeakAnnual" type="util:DemandMaximumOffPeakAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity demand maximum off peak</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">Maximum demand (kW) for electricity during off peak time of use. This is an optional element.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityAnnual_PeakDemandAverageAnnual" type="util:PeakDemandAverageAnnual" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Electricity peak demand average</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="ElectricityAnnual_NotTimeOfUseRate" type="util:NotTimeOfUseRate" fixed="true" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Use this field if not a time of use rate</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">If used, the value for this element is always true</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ElectricityMonthlyBillDataPerAgreement" minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Electricity billing data for school site customer agreement(s)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ElectricityMonthly_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityMonthly_ServicePointID" type="util:ServicePointID" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Usage/Service Point Identifier(s)</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">One or more alphanumeric strings assigned by the utility to uniquely identify usage points on this customer agreement.  Utilities may or may not use this and therefore it is optional.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityMonthly_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="kWh" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Consumption Unit of Measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is the unit of consumption which is always kilowatt per hour represented as kWh</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityMonthly_MaximumDemandUnitOfMeasure" type="util:MaximumDemandUnitOfMeasure" fixed="kW" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Maximum Demand Unit of Measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is the unit of demand  which is always kilowatt  represented as kW</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityMonthlyBillData" minOccurs="1" maxOccurs="24">
													<xsd:annotation>
														<xsd:documentation/>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ElectricityMonthly_RateScheduleID" type="util:RateScheduleID" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Rate Schedule</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is an  alphanumeric string the identifies the rate schedule that was applied during this billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthly_BillingPeriodNumberOfDays" type="util:BillingPeriodNumberOfDays" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Billing Period Number of Days</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the number of days during this billing period which  is usually between 27 and 33 days.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthly_EnergyGenerationOnSite" type="util:EnergyGenerationOnSite" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Does renewable energy generation contribute to utility net usage?</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This value is true if there is renewable energy generation on site and it contributes to the utility net usage.  Otherwise the value is false.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthly_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Billing Period Start</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the time when the billing period started and is represented as the number of seconds between the event and midnight on January 1, 1970.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthly_BillLastPeriod" type="util:BillLastPeriod" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Bill Amount</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the amount in dollars charged during the billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthly_ConsumptionBillingPeriodTotal" type="util:ConsumptionBillingPeriodTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Overall Consumption</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the total consumption of electricity during  the billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ElectricityMonthlyTimeOfUse" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Peak, semi peak and off peak values if agreement has time of use data</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:choice minOccurs="1" maxOccurs="1">
																		<xsd:element name="ElectricityMonthlyTimeOfUseValues" minOccurs="1" maxOccurs="1">
																			<xsd:annotation/>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="ElectricityMonthly_ConsumptionOnPeak" type="util:ConsumptionOnPeak" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>On Peak Consumption</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityMonthly_ConsumptionSemiPeak" type="util:ConsumptionSemiPeak" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Semi Peak Consumption</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityMonthly_ConsumptionOffPeak" type="util:ConsumptionOffPeak" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Off Peak Consumption</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="ElectricityMonthly_NoTimeOfUseDataAvailable" type="util:NoTimeOfUseDataAvailable" fixed="true" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Use this field if no time of use values</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">If used, the value for this element is always true</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="ElectricityMonthlyDemandValues" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Maximum demand values if agreement has demand data</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:choice minOccurs="1" maxOccurs="1">
																		<xsd:element name="ElectricityMonthlyTimeOfUseDemandValues" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation/>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="ElectricityMonthly_DemandMaximumOnPeak" type="util:DemandMaximumOnPeak" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>On Peak Maximum Demand</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">For this billing period the maximum demand (kW) for electricity during peak time of use</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityMonthly_DemandMaximumSemiPeak" type="util:DemandMaximumSemiPeak" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Semi Peak Maximum Demand</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">For this billing period the maximum demand (kW) for electricity during semi-peak time of use</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="ElectricityMonthly_DemandMaximumOffPeak" type="util:DemandMaximumOffPeak" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Off Peak Maximum Demand</xsd:documentation>
																							<xsd:documentation source="CalculationsAndRules">For this billing period the maximum demand (kW) for electricity during off peak time of use</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="ElectricityMonthly_DemandMaximum" type="util:DemandMaximum" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Maximum Demand During Billing Period</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="ElectricityMonthly_NoDemandDataAvailable" type="util:NoDemandDataAvailable" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Use this field if no demand values are available.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ElectricityIntervalData" minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Electricity interval data for each school customer agreement</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ElectricityInterval_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Agreement Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityInterval_ServicePointID" type="util:ServicePointID" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Identifiers for Usage/Service Points aggregated on this agreement</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">One or more alphanumeric strings assigned by the utility to uniquely identify usage points on this customer agreement that collect usage data.  Utilities may or may not use this and therefore it is optional.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityInterval_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="kWh" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Consumption Unit of Measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is the unit of consumption which is always kilowatt per hour represented as kWh</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ElectricityIntervalDataForAgreement" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Interval data for this customer agreement</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:choice minOccurs="1" maxOccurs="1">
															<xsd:element name="IntervalBlockDay" minOccurs="1" maxOccurs="366">
																<xsd:annotation>
																	<xsd:documentation>Daily Interval Data</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="IntervalReadingLength_IntervalLength" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Reading length</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">Provide the smallest interval length available for this service agreement.  Choices are 1 minute, 5 minutes, fifteen minutes and an hour all expressed in seconds.</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="util:IntervalLength">
																					<xsd:enumeration value="60"/>
																					<xsd:enumeration value="300"/>
																					<xsd:enumeration value="900"/>
																					<xsd:enumeration value="3600"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:element>
																		<xsd:element name="IntervalBlockDay_DurationInSeconds" type="util:DurationInSeconds" fixed="86400" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Block Duration</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">The interval block duration is the number of seconds in a day.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="IntervalBlockDay_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Block Start Time</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">The interval block start time is the number of seconds since January 1, 1970</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="IntervalReadings" minOccurs="1" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation/>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="IntervalReading_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Interval Reading Start Time</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="IntervalReadingEnergy" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Provide either electricity usage or energy delivered by the utility and energy received by the utility</xsd:documentation>
																						</xsd:annotation>
																						<xsd:complexType>
																							<xsd:choice minOccurs="1" maxOccurs="1">
																								<xsd:sequence minOccurs="1" maxOccurs="1">
																									<xsd:annotation>
																										<xsd:documentation/>
																										<xsd:documentation source="CalculationsAndRules">If the customer agreement  includes RE generation on site, provide two interval values: one for the interval electricity delivered by the utility to the site and one for  electricity generated  on site and received by the utility</xsd:documentation>
																									</xsd:annotation>
																									<xsd:element name="IntervalReading_EnergyDelivered" type="util:EnergyDelivered"/>
																									<xsd:element name="IntervalReading_EnergyReceived" type="util:EnergyReceived"/>
																								</xsd:sequence>
																								<xsd:element name="IntervalReading_EnergyUsage" type="util:EnergyUsage" minOccurs="1" maxOccurs="1">
																									<xsd:annotation>
																										<xsd:documentation/>
																										<xsd:documentation source="CalculationsAndRules">If the customer agreement  does not include RE generation on site, provide one value for the interval electricity provided by the utility and used during this interval.</xsd:documentation>
																									</xsd:annotation>
																								</xsd:element>
																							</xsd:choice>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="IntervalReading_Cost" type="util:Cost" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Cost of electricity consumed</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="IntervalReading_TimeOfUse" type="util:TimeOfUse" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Time of Use period</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="ElectricityInterval_NoIntervalDataAvailable" type="util:NoIntervalDataAvailable" fixed="true" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>No interval data is available for this customer agreement</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">If used, the value for this element is always true</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="GasUsageData" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation/>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="GasAnnualAllAgreements" minOccurs="0" maxOccurs="1">
										<xsd:annotation>
											<xsd:documentation>Gas annual data for a school site that does not have GasMonthly BillData</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="GasAnnual_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="therm" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Gas consumption unit of measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This unit of  gas consumption  is always therm</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasAnnualAgreementTotals" minOccurs="1" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Annual Totals Per Agreement</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="GasAnnual_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasAnnual_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>July 1 of the reporting year expressed as a Unix epoch</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">The start time is midnight July 1st of  the reporting year  expressed as the number of seconds that have elapsed since midnight on January 1, 1970.  This expression for a date and time is sometimes referred to as the Unix epoch</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasAnnual_GasCostAnnualTotal" type="util:GasCostAnnualTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Gas cost annual</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">Total annual cost of gas billed to the customer</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasAnnual_ConsumptionAnnualPeriodTotal" type="util:ConsumptionAnnualPeriodTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Gas consumption annual</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">Total annual gas consumption</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="GasMonthlyBillDataPerAgreement" minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Gas billing data for school site customer agreement(s)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="GasMonthly_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasMonthly_ServicePointID" type="util:ServicePointID" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Usage/Service Point Identifier(s)</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">One or more alphanumeric strings assigned by the utility to uniquely identify usage points on this customer agreement.  Utilities may or may not use this and therefore it is optional.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasMonthly_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="therm" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Consumption Unit of Measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This unit of gas consumption  is always therm</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasMonthlyBillData" minOccurs="1" maxOccurs="24">
													<xsd:annotation>
														<xsd:documentation/>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="GasMonthly_RateScheduleID" type="util:RateScheduleID" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Rate Schedule</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is an  alphanumeric string the identifies the rate schedule that was applied during this billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasMonthly_BillingPeriodNumberOfDays" type="util:BillingPeriodNumberOfDays" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Number of days in the billing period</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the number of days during this billing period which  is usually between 27 and 33 days.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasMonthly_EnergyGenerationOnSite" type="util:EnergyGenerationOnSite" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Does renewable energy generation contribute to utility net usage?</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This value is true if there is renewable energy generation on site and it contributes to the utility net usage.  Otherwise the value is false.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasMonthly_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Billing Period Start</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the time when the billing period started and is represented as the number of seconds between the event and midnight on January 1, 1970.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasMonthly_BillLastPeriod" type="util:BillLastPeriod" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Bill Amount</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the amount in dollars charged during the billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="GasMonthly_ConsumptionBillingPeriodTotal" type="util:ConsumptionBillingPeriodTotal" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>Overall Consumption</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">This is the total consumption of gas during  the billing period.</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="GasIntervalData" minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Gas interval data for each school customer agreement</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="GasInterval_AgreementIdentifier" type="util:AgreementIdentifier" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Customer Agreement Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This is an alphanumeric string assigned by the utility to uniquely identify this customer agreement.    It should match one of the SchoolCustomerAgreement identifiers</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasInterval_ServicePointID" type="util:ServicePointID" minOccurs="0" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Usage Point Identifier</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">One or more alphanumeric strings assigned by the utility to uniquely identify usage points on this customer agreement.  Utilities may or may not use this and therefore it is optional.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasInterval_ConsumptionUnitOfMeasure" type="util:ConsumptionUnitOfMeasure" fixed="therm" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Commodity unit of measure</xsd:documentation>
														<xsd:documentation source="CalculationsAndRules">This unit of gas consumption  is always therm</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GasIntervalDataForAgreement" minOccurs="1" maxOccurs="1">
													<xsd:annotation>
														<xsd:documentation>Provide a maximum of 366 days of interval data for this agreement or indicate that this agreement does not have interval data.</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:choice minOccurs="1" maxOccurs="1">
															<xsd:element name="IntervalBlockDay" minOccurs="1" maxOccurs="366">
																<xsd:annotation>
																	<xsd:documentation>Daily Interval Data</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="IntervalReadingLength_IntervalLength" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Reading length</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">Choose between hourly  intervals and daily intervals.</xsd:documentation>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="util:IntervalLength">
																					<xsd:enumeration value="3600"/>
																					<xsd:enumeration value="86400"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:element>
																		<xsd:element name="IntervalBlockDay_DurationInSeconds" type="util:DurationInSeconds" fixed="86400" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Block  Duration</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">The interval block duration is a day expressed in  seconds in a day which is  always 86400</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="IntervalBlockDay_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																			<xsd:annotation>
																				<xsd:documentation>Interval Block Start Time</xsd:documentation>
																				<xsd:documentation source="CalculationsAndRules">The interval block start time is the number of seconds since midnight January 1, 1970</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="IntervalReadings" minOccurs="1" maxOccurs="unbounded">
																			<xsd:annotation>
																				<xsd:documentation/>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="IntervalReading_StartTime" type="util:StartTime" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Interval Reading Start Time</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="IntervalReadingEnergy" minOccurs="1" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Provide either gas usage  or gas delivered by the utility and gas received by the utility</xsd:documentation>
																						</xsd:annotation>
																						<xsd:complexType>
																							<xsd:choice minOccurs="1" maxOccurs="1">
																								<xsd:sequence minOccurs="1" maxOccurs="1">
																									<xsd:annotation>
																										<xsd:documentation/>
																										<xsd:documentation source="CalculationsAndRules">If the customer agreement  includes RE generation on site, provide two interval values: one for the interval gas delivered by the utility to the site and one for  gas generated  on site and received by the utility</xsd:documentation>
																									</xsd:annotation>
																									<xsd:element name="IntervalReading_EnergyDelivered" type="util:EnergyDelivered"/>
																									<xsd:element name="IntervalReading_EnergyReceived" type="util:EnergyReceived"/>
																								</xsd:sequence>
																								<xsd:element name="IntervalReading_EnergyUsage" type="util:EnergyUsage" minOccurs="1" maxOccurs="1">
																									<xsd:annotation>
																										<xsd:documentation/>
																									</xsd:annotation>
																								</xsd:element>
																							</xsd:choice>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="IntervalReading_Cost" type="util:Cost" minOccurs="0" maxOccurs="1">
																						<xsd:annotation>
																							<xsd:documentation>Cost of gas consumed</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="GasInterval_NoIntervalDataAvailable" type="util:NoIntervalDataAvailable" fixed="true" minOccurs="1" maxOccurs="1">
																<xsd:annotation>
																	<xsd:documentation>No interval data is available for this customer agreement</xsd:documentation>
																	<xsd:documentation source="CalculationsAndRules">If used, the value for this element is always true</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="utilDataProp39Report" type="UtilDataProp39Report">
		<xsd:annotation>
			<xsd:documentation>This element contains all of the data required to generate the UtilDataProp39Report utility data report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
